h1{
	color: red;
}
.inputBox{
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.pusher{
	padding-bottom: 20px;
}
blockquote{
	border-left: 4px solid #777777;
	padding: 0em 2em;
	margin: 1em 0em 2em;
	font-size: 7px;
}
/*
#modalwidth{
	width: 30%;
}
*/
#textwidth{
	width: auto;
}
/*
.toggle{
	color: #1B1C1D;
}
div.ui.button.toggle{
	background-color: #1b1c1d;
}
*/
/*
.toggle:hover, .toggle:active, .toggle:focus{
	background: #1B1C1D;
}
*/