{% load staticfiles %}

<link rel="stylesheet" href="{% static "css/home.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"> -->
<link rel="javascript" href="{% static "js/nonsense.js" %}">

<form id="form" onsubmit="return false;">
    <input type="text" id="address" />
    <input type="submit" onclick="geocode();" />
</form>
<div id="floating-panel">
     <button onclick="toggleHeatmap()">Toggle Heatmap</button>
     <button onclick="toggleKMLmap()">Toggle separation of regions</button>
</div>
<head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 80%; }
    </style>
</head>
<body>
  <div id="map"></div>
</body>
<script src="{% static "js/home.js" %}">

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE4ApaPZF2pyVQYPyPC6X4AnWdySc-584&libraries=visualization&callback=initMap">
</script>
